# Каталоги Gradle сборки
.gradle/
app/build/

# Папки сборки
dist/
build/

# Локальные настройки IDE (например, IntelliJ IDEA)
.idea/
*.iml
.vscode/
.cursor/
QWEN.md
ToDo.txt

# Файлы локальных настроек проекта
local.properties

# Файлы Gradle Wrapper
gradle/wrapper/gradle-wrapper.jar

# Скрипты Gradle
gradlew
gradlew.bat

# Другие временные файлы и папки ОС
.DS_Store
Thumbs.db
*.log

# Конфиденциальные данные
.env
